*checkpoint.ipynb
*checkpoint.py
/GraphLib/Yield GxExM.jpg
/GraphLib/Yield WWHI.jpg
/GraphLib/apsim_tools/__pycache__/data.cpython-311.pyc
/GraphLib/apsim_tools/__pycache__/graphing.cpython-311.pyc
/GraphLib/apsim_tools/__pycache__/runner.cpython-311.pyc
/GraphLib/apsim_tools/__pycache__/style.cpython-311.pyc
/GraphLib/apsim_tools/data.py
/GraphLib/apsim_tools/graphing.py
/GraphLib/apsim_tools/runner.py
/GraphLib/apsim_tools/style.py
/GraphLib/apsim_tools.egg-info/PKG-INFO
/GraphLib/apsim_tools.egg-info/SOURCES.txt
/GraphLib/apsim_tools.egg-info/dependency_links.txt
/GraphLib/apsim_tools.egg-info/top_level.txt
/Nuptake GxExM.jpg
/Nuptake WWHI.jpg
/Stem WSC GxExM.jpg
/Stem WSC WWHI.jpg
/Yield GxExM.jpg
/Yield WWHI.jpg
/Lentil analysis/BaseParamSet.json
/Lentil analysis/buddingFits
/Lentil analysis/buddingFits2para
/Lentil analysis/buddingFits4para
/Lentil analysis/floweringFits
/Wheat Analysis/Nuptake WWHI.jpg
/Wheat Analysis/RelativeNUptake.png
